<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating your LDAP-Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div id="main">
        {% block content %}
            <h1>Erstelle einen neuen LDAP - User um alle Vorteile des Protokolls zu genießen.</h1>
            <form id="main-form" action="{{ url_for('ldap_print.handle_create_user') }}">
                {{ form.hidden_tag() }}
                <div class="form-con">
                    <p class="f-label">{{ form.cn.label }}</p>
                    <p class="f-input">{{ form.cn() }}</p>

                    <p class="f-label">{{ form.gidNumber.label }}</p>
                    <p class="f-input">{{ form.gidNumber() }}</p>

                    <p class="f-label">{{ form.homeDirec.label }}</p>
                    <p class="f-input">{{ form.homeDirec() }}</p>

                    <p class="f-label">{{ form.sn.label }}</p>
                    <p class="f-input">{{ form.sn() }}</p>

                    <p class="f-label">{{ form.uid.label }}</p>
                    <p class="f-input">{{ form.uid() }}</p>

                    <p class="f-label">{{ form.uidNumber.label }}</p>
                    <p class="f-input">{{ form.uidNumber() }}</p>

                    <p class="f-label">{{ form.mail.label }}</p>
                    <p class="f-input">{{ form.mail() }}</p>

                    <p class="f-label">{{ form.userPassword.label }}</p>
                    <p class="f-input">{{ form.userPassword() }}</p>

                    <p class="f-label"></p>
                    <p class="f-input-button">{{ form.submit() }}</p>
                </div>
            </form>
        {% endblock %}
    </div>
</body>
</html>