<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Änderer dein LDAP-Passwort</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div id="main">
        {% block c %}
            <h1>{{ title }}</h1>
            <form id="main-form" action="{{ url_for('ldap_print.handle_data') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-con">
                    <p class="f-label">{{ form.firstname.label }}</p>
                    <p class="f-input">{{ form.firstname() }}</p>

                    <p class="f-label">{{ form.lastname.label }}</p>
                    <p class="f-input">{{ form.lastname() }}</p>

                    <p class="f-label">{{ form.old_pass.label }}</p>
                    <p class="f-input">{{ form.old_pass() }}</p>

                    <p class="f-label">{{ form.new_pass.label }}</p>
                    <p class="f-input">{{ form.new_pass() }}</p>

                    <p class="f-label">{{ form.new_pass_repeat.label }}</p>
                    <p class="f-input">{{ form.new_pass_repeat() }}</p>

                    <p class="f-label"></p>
                    <p class="f-input-button">{{ form.submit() }}</p>
                </div>
            </form>
        {% endblock %}
    </div>
</body>
</html>