body {
    font-family: "Arial", sans-serif;
}

input:hover {
    cursor: pointer;
}

#main {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#main-form {
    width: 660px;
    padding: 10px;
    margin: auto;
}

.form-con {
    display: flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
}

.f-label {
    width: 35%;
    text-align: center;
    font-size: 18px;
}

.f-input {
    width: 65%;
}

.f-input input {
    width: 300px;
    height: 10px;
    border-radius: 10px;
    padding: 10px;
}

.f-input-button {
    width: 65%;
    border-radius: 10px;
    text-align: center;
}

.f-input-button input {
    width: 300px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.f-input-button input {
    padding: 10px;
    width: 200px;
}